<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My first Vue app</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>

    <div class="nav-bar"></div>

    <div id="app">
        <div class="cart">
            <p>Cart({{ cart.length }})</p>
        </div>
        <product :premium="premium" @add-to-cart="updateCart" @remove-from-cart="removeItem"></product>
    </div>

    <script src="practice.js"></script>
    </body>
</html>